<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Otoniel Guajardo - Javascript Developer</title>
        <link rel="stylesheet" href="styles/normalize.css?ver=1" />
        <link rel="stylesheet" href="styles/index.css?ver=1" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </head>

    <body>
        <div id="page">
            <section id="hero">
                <img src="img/picture.png" :alt="data.name" />
            </section>
            <section id="albums">
                <div class="album" v-for="album in data.albums">
                    <img :src="album.cover" :alt="album.name">
                    <ul>
                        <li v-for="link in album.links">
                            <a :href="link.url" target="_blank">
                                <img :src="`img/${link.id}.png`" :alt="link.name">
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <script src="scripts/page.js?ver=1"></script>
    </body>

</html>